html, body {
	margin: 0;
}
/* for title, color blue */
h1 {
	color: #41FB2DF;
  font-family: Georgia;
  font-size: 100px;
  position: relative;
  text-align: center;
}
/* for country names, color purple */
h2 {
	color: #A896C1;
	font-family: sans-serif;
}
/* for city names, color light blue */
h3 {
	color: #96C5E3;
}
/* for categories, color light purple */
h4 {
	color: #DBA9F0;
}
.main {
	position: center;
}
.header {
	background: ('ohruby21/Google-MAGIC/Skyline.jpg') no-repeat center center;
}

