html, body {
	margin: 0;
}
/* for title, color blue */
h1 {
	color: #1FB2DF;
  	font-family: Covered By Your Grace, cursive;
  	font-size: 100px;
 	position: relative;
  	text-align: center;

}
/* for country names, color purple */
h2 {
	color: #A896C1;
	font-family: Covered By Your Grace, cursive;

}
/* for city names, color blue */
h3 {
	color: #1162DC;
  	font-family: Covered By Your Grace, cursive;
}
/* for categories, color light purple */
h4 {
	color: #DBA9F0;
	font-family: Covered By Your Grace, cursive;
}
p {
	font-family: Josefin Sans, sans-serif;
	text-align: center;
}
.main {
	position: center;
	background: img(Google-MAGIC/skyline.jpg)
	/*background: -webkit-linear-gradient(#B9DEEE, #87C6F4);*/
	text-align: center;

 

}
.header {
}

